<aside class="card profile">
  <img class="avatar" src="assets/me.png" alt="me" />
  <div>
    <h1>DEMBELE Ibrahim</h1>
    <div class="role">DÉVELOPPEUR Full-Stack Junior</div>
    <div class="experience-years">+2 ans d'expérience</div>
  </div>

  <div class="section">
    <div class="section-title">À propos de moi</div>
    <div class="about">Actuellement, je suis à la recherche d’un CDI en tant que développeur web, après deux années d'alternance.</div>
  </div>

  <div class="section contact">
    <div class="section-title">Contact</div>
    <p>43 rue dix avril, 31500 TOULOUSE</p>
    <p>ibrahimk.dembele&#64;outlook.fr</p>
    <p>06 34 39 94 16</p>
    <p>Né le 17/10/2000</p>
  </div>

  <div class="section">
    <div class="section-title">Langues</div>
    <div class="pill">Anglais — Professionnel</div>
    <div class="pill">Français — Courant</div>
  </div>

  <div class="section">
    <div class="section-title">Qualités</div>
    <div class="pill">Travail en équipe</div>
    <div class="pill">Autonomie</div>
    <div class="pill">Passion pour la tech</div>
    <div class="pill">Persévérance</div>
    <div class="pill">Adaptabilité</div>
  </div>

  <div class="section">
    <div class="section-title">Liens</div>
    <div class="links">
      <a class="icon-btn" href="https://github.com/idembele70/" target="_blank" title="GitHub">
        <img src="assets/github-brands-solid-full.svg" alt="github">
      </a>
      <a class="icon-btn" href="https://www.linkedin.com/in/ibrahim-dembele-2a91351b3/" target="_blank" title="Linkedin">
        <img src="assets/linkedin-in-brands-solid-full.svg" alt="linkedin">
      </a>
      <a class="icon-btn" href="https://idembele70.github.io/dossier-competences-html/" target="_blank" title="Dossier de Compétences">
        <img src="assets/book-solid-full.svg" alt="linkedin">
      </a>
    </div>
  </div>
</aside>