.profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avatar {
  border-radius: var(--card-radius);
}

.role {
  color: var(--accent);
  font-weight: 700;
  margin-top: 6px;
}

.experience-years {
  margin-top: 6px;
  font-size: 13px;
  color: var(--muted);
  border-radius:10px;
  border:1px solid var(--glass-bg-6);
  background:rgba(125,211,252,0.15);
  width: fit-content;
  padding: 4px;
}

.section {
  background: linear-gradient(180deg, var(--glass-bg-1), transparent);
  border:1px solid var(--glass-bg-6);
  border-radius: var(--card-radius);
  padding: 8px;
}

.certificate-item {
  display: inline-block;
  width: 100%;
  border: 1px solid var(--glass-border);
  backdrop-filter: blur(8px);
  box-sizing: border-box;
}

.certificate-date {
  padding: 4px 10px;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  background: var(--glass-bg-4);
  color: var(--muted);
}
.certificate-name {
  padding: 8px 10px;
  border: 1px solid var(--glass-border);
  border-bottom: none;
  font-size: 13px;
  font-weight: 600;
  background: var(--glass-bg-1);
  color: white;
  overflow: hidden;
  line-height: 1.3;
}
.certificate-org {
  padding: 6px 10px;
  border-radius: 0 0 8px 8px;
  font-size: 11px;
  font-weight: 500;
  background: var(--glass-bg-6);
  color: var(--accent);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.links {
  display: flex;
  gap: 12px;
}

.icon-btn {
  background: linear-gradient(180deg, var(--glass-bg-1), transparent);
  border:1px solid var(--glass-bg-6);
  border-radius: var(--card-radius);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  & img {
    height: 32px;
  }
}

.contact p {
  margin: 4px 0;
}