<aside class="card profile">
  <img class="avatar" src="assets/me.png" alt="me" />
  <div>
    <h1>DEMBELE Ibrahim</h1>
    <div class="role">{{ 'role' | translate}}</div>
    <div class="experience-years">+{{ 'experienceYears' | translate}}</div>
  </div>

  <div class="section">
    <div class="section-title">{{ 'abouts.title' | translate }}</div>
    <div class="about">{{ 'abouts.description' | translate }}</div>
  </div>

  <div class="section contact">
    <div class="section-title">{{ 'contacts.title' | translate }}</div>
    <p>{{ 'contacts.address' | translate }}</p>
    <p>{{ 'contacts.email' | translate }}</p>
    <p>{{ 'contacts.phone' | translate }}</p>
    <p>{{ 'contacts.birth' | translate }}</p>
  </div>

  <div class="section">
    <div class="section-title">{{ 'languages.title' | translate }}</div>
    <div class="pill">{{ 'languages.english' | translate }}</div>
    <div class="pill">{{ 'languages.french' | translate }}</div>
  </div>

  <div class="section">
    <div class="section-title">{{ 'qualities.title' | translate }}</div>
    <div *ngFor="let quality of ('qualities.lists' | translate)" class="pill">
      {{ quality }}
    </div>
  </div>

  <div class="section">
    <div class="section-title">{{ 'links.title' | translate }}</div>
    <div class="links">
      <a class="icon-btn" [href]="'links.github.url' | translate" target="_blank" [title]="'links.github.title' | translate">
        <img src="assets/github-brands-solid-full.svg" [alt]="'links.github.title' | translate | lowercase">
      </a>
      <a class="icon-btn" [href]="'links.linkedin.url' | translate" target="_blank" [title]="'links.linkedin.title' | translate">
        <img src="assets/linkedin-in-brands-solid-full.svg" [alt]="'links.linkedin.title' | translate | lowercase">
      </a>
      <a class="icon-btn" [href]="'links.skillsPortfolio.url' | translate" target="_blank" [title]="'links.skillsPortfolio.title' | translate">
        <img src="assets/book-solid-full.svg" [alt]="'links.skillsPortfolio.title' | translate | lowercase">
      </a>
    </div>
  </div>
</aside>